<%- include("partials/header") %>

<!-- Nav Bar -->
<section>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 bg-white rounded">
    <a class="navbar-brand" href="">🦄 Kim.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#des">Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#dev">Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cta">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</section>


<!-- Splash Screen -->
<section id="hero" class="splash">
  <div class="heading">
    <div class="div-block col-lg-12 col-md-6 col-sm-6">
      <h1>Yo. I'm Kim.</h1>
      <h2>I design and build things.</h2>
      <a class="btn btn-primary" href="mailto:kimcincocreative@gmail.com">Let's Talk!</a>
    </div>
  </div>
  </div>
</section>

<!-- Services Section -->
<div class="section-wrapper">
  <h3 class="section-heading">What I Do</h3>
  <div class="service-row">
    <div class="service-column col-lg-3 col-md-6 col-sm-12">
      <i class="icon fas fa-code fa-4x"></i>
      <h5 class="service-heading">Front-end dev</h5>
      <p class="service-text"><strong>Languages + Tools:</strong>
        <ul class="tools-list">
          <li>Atom</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Bootstrap</li>
          <li>Codepen</li>
          <li>Codeply</li>
          <li>GitHub</li>
        </ul>
      </p>
    </div>

    <div class="service-column col-lg-3 col-md-6 col-sm-12">
      <i class="icon fas fa-question fa-4x"></i>
      <h5 class="service-heading">UX research</h5>
      <p class="service-text"><strong>Methods + Tools:</strong>
        <ul class="tools-list">
          <li>Media Psychology</li>
          <li>Data Analysis</li>
          <li>Design Strategy</li>
          <li>Heuristic Evaluation</li>
          <li>Generative Research</li>
          <li>Motivational Interviewing</li>
          <li>User Personas</li>
          <li>Prezi</li>
        </ul>
      </p>
    </div>

    <div class="service-column col-lg-3 col-md-6 col-sm-12">
      <i class="icon fas fa-paint-brush fa-4x"></i>
      <h5 class="service-heading">Interaction design</h5>
      <p class="service-text"><strong>Processes + Tools:</strong>
        <ul class="tools-list">
          <li>Design Thinking</li>
          <li>GV Design Sprint</li>
          <li>UX/CX/Service Design</li>
          <li>UI/Visual</li>
          <li>Figma</li>
          <li>Sketch</li>
          <li>Webflow</li>
          <li>InVision</li>

        </ul>
      </p>
    </div>

    <div class="service-column col-lg-3 col-md-6 col-sm-12">
      <i class="icon fas fa-terminal fa-4x"></i>
      <h5 class="service-heading">Back-end dev</h5>
      <p class="service-text"><strong>Languages + Tools:</strong>
        <ul class="tools-list">
          <li>jQuery</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>React.js</li>
          <li>SQL Databases</li>
          <li>MongoDB</li>
          <li>MongoAtlas</li>
          <li>APIS + RESTful APIs</li>
        </ul>
      </p>
    </div>

  </div>
</div>

<!-- Featured UX Profjects Section -->
<div id="des" class="section-portfolio">
  <h2 class="section-heading">Featured UX Projects</h2>

  <!-- BOAT Project -->
  <div class="container ">

    <div class="portfolio-div col-lg-8 flex1">
      <a id="boat" href="#" class="volunteer card"></a>
    </div>

    <div class="portfolio-description-left col-lg-4 flex2">
      <h3 class="portfolio-title">UX Design for a Volunteer Nonprofit</h3>
      <p>Inventing a seamless experience for complex volunteer roles.</p>
      <ul class="tools-used left">
        <li class="tool-dark">UX</li>
        <li class="tool-dark">UI</li>
        <li class="tool-dark">Research</li>
        <li class="tool-dark">Sketch</li>
        <li class="tool-dark">InVision</li>
      </ul>
      <br><br>
      <button class="btn-secondary btn" type="button" name="button" data-toggle="modal" data-target="#volunteerModal">Case Study</button>
    </div>

  </div>

  <!-- BOAT Project Modal -->
  <div class="modal fade" id="volunteerModal" tabindex="-1" aria-labelledby="volunteerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="volunteerModalLabel">UX Design for a Volunteer Nonprofit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe class="figma" style="border: 1px solid rgba(0, 0, 0, 0.1);"
            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FVAnTMI5vHeB6ukIEiJqgam%2FPublic-Case-Study-Volunteer%3Fnode-id%3D212%253A582%26viewport%3D190%252C647%252C0.0717260092496872%26scaling%3Dscale-down-width%26hotspot-hints%3D0&chrome=DOCUMENTATION"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- P5 Project -->
  <div class="container">

    <div class="portfolio-description-right col-lg-4 flex4">
      <h3 class="portfolio-title">UX Research + CX Design for a Musical Community Startup</h3>
      <p>Using CX design to uncover user needs for a new platform and community of musical artists.</p>
      <ul class="tools-used right">
        <li class="tool-dark">UX Research</li>
        <li class="tool-dark">CX Design</li>
        <li class="tool-dark">Service Ecology</li>
        <li class="tool-dark">Sketch</li>
      </ul>
      <br><br>
      <button class="btn-secondary btn" type="button" name="button" data-toggle="modal" data-target="#musicModal">Case Study</button>
    </div>
    <div class="portfolio-div col-lg-6 flex3">
      <a id="p5" href="#" class="music card"></a>
    </div>

  </div>

  <!-- P5 Project Modal -->
  <div class="modal fade" id="musicModal" tabindex="-1" aria-labelledby="musicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="musicModalLabel">UX Research + CX Design for a Musical Community Startup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe class="figma" style="border: 1px solid rgba(0, 0, 0, 0.1);"
            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FiX7E0keRFHfMSICT5VQuil%2FPublic-Case-Study-Music%3Fnode-id%3D205%253A900%26viewport%3D378%252C489%252C0.06113883852958679%26scaling%3Dscale-down-width%26hotspot-hints%3D0&chrome=DOCUMENTATION"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- BSC Project -->
  <div class="container">

    <div class="portfolio-div col-lg-8 flex5">
      <a id="bsc" href="#" class="interactive card"></a>
    </div>

    <div class="portfolio-description-left col-lg-4 flex6">
      <h3 class="portfolio-title">Content Design for Healthcare Communication</h3>
      <p>Modernizing a major healthcare insurance organization’s web experiences with interactive content.</p>
      <ul class="tools-used left">
        <li class="tool-dark">Content Design</li>
        <li class="tool-dark">UI</li>
        <li class="tool-dark">Figma</li>
      </ul>
      <br><br>
      <button class="btn-secondary btn" type="button" name="button" data-toggle="modal" data-target="#interactiveModal">Case Study</button>
    </div>

  </div>

  <!-- BSC Project Modal -->
  <div class="modal fade" id="interactiveModal" tabindex="-1" aria-labelledby="interactiveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="interactiveModalLabel">Content Design for Healthcare Communication</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe class="figma" style="border: 1px solid rgba(0, 0, 0, 0.1);"
            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fk9rLx3I3trDmGkaZWL1SzY%2FPublic-Case-Study-Interactive%3Fnode-id%3D105%253A336%26viewport%3D545%252C417%252C0.11171203851699829%26scaling%3Dscale-down-width%26hotspot-hints%3D0&chrome=DOCUMENTATION"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Savr Project -->
  <div class="container">

    <div class="portfolio-description-right col-lg-5 flex8">
      <h3 class="portfolio-title">Product Design Sprint for a Foodie App</h3>
      <p>Integrating learning principles into a modified Design Sprint challenge.</p>
      <ul class="tools-used right">
        <li class="tool-dark">UX</li>
        <li class="tool-dark">UI</li>
        <li class="tool-dark">Research</li>
        <li class="tool-dark">Sketch</li>
        <li class="tool-dark">Figma</li>
      </ul>
      <br><br>
      <button class="btn-secondary btn" type="button" name="button" data-toggle="modal" data-target="#foodieModal">Case Study</button>

    </div>
    <div class="portfolio-div col-lg-6 flex7">
      <a id="savr" href="#" class="foodie card"></a>
    </div>

  </div>

  <!-- Savr Project Modal -->
  <div class="modal fade" id="foodieModal" tabindex="-1" aria-labelledby="foodieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodieModalLabel">Product Design Sprint for a Foodie App</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe class="figma" style="border: 1px solid rgba(0, 0, 0, 0.1);"
            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FsNKGCjsCN5yt1Z5JJCpGAG%2FPublic-Case-Study-Foodie%3Fnode-id%3D160%253A0%26viewport%3D431%252C302%252C0.0317847803235054%26scaling%3Dscale-down-width%26hotspot-hints%3D0&chrome=DOCUMENTATION"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dev" class="table-div">
  <h2 class="section-heading">Development Projects</h2>
  <table class="table">
    <thead class="header-purple">
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Title</th>
        <th scope="col">Built with</th>
        <th scope="col">Link(s)</th>
      </tr>
    </thead>
    <tbody>

      <!-- *************************************************************** -->
      <tr>
        <th scope="row">2020</th>
        <td>Secrets App</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Authentication</li>
            <li class="tool-dark">bcrypt</li>
            <li class="tool-dark">Cookies and Sessions</li>
            <li class="tool-dark">EJS</li>
            <li class="tool-dark">Encryption</li>
            <li class="tool-dark">Google OAuth 2.0</li>
            <li class="tool-dark">Hashing</li>
            <li class="tool-dark">Passport.js</li>
            <li class="tool-dark">Salting</li>
            <li class="tool-dark">Security</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://github.com/kccrtv/secrets/commit/d19264dfac9f78bd797c39be38098a0ff1f8a868" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->
      <tr>
        <th scope="row">2020</th>
        <td>RESTful "Wiki" API from Scratch</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">APIS</li>
            <li class="tool-dark">RESTful APIs</li>
            <li class="tool-dark">Express.js</li>
            <li class="tool-dark">Mongoose</li>
            <li class="tool-dark">MongoDB</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://github.com/kccrtv/wiki/blob/master/app.js" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->
      <tr>
        <th scope="row">2020</th>
        <td>Blog Website with Posts Database</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">Embedded JavaScript Templating (EJS)</li>
            <li class="tool-dark">Express.js</li>
            <li class="tool-dark">Mongoose</li>
            <li class="tool-dark">MongoDB</li>
            <li class="tool-dark">Node.js</li>
            <li class="tool-dark">NoSQL Databases</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://github.com/kccrtv/blog/blob/master/app.js" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->
      <tr>
        <th scope="row">2020</th>
        <td>Fruits MongoDB</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Mongoose</li>
            <li class="tool-dark">MongoDB</li>
            <li class="tool-dark">NoSQL Databases</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://github.com/kccrtv/fruits/blob/master/app.js" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->
      <tr>
        <th scope="row">2020</th>
        <td>To-Do List App</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">Embedded JavaScript Templating (EJS)</li>
            <li class="tool-dark">Express.js</li>
            <li class="tool-dark">Mongoose</li>
            <li class="tool-dark">MongoDB Atlas</li>
            <li class="tool-dark">Node.js</li>
            <li class="tool-dark">NoSQL Databases</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://intense-inlet-02685.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>UX+Dev Portfolio v1</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Bootstrap</li>
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">HTML</li>
            <li class="tool-dark">JavaScript</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://kccrtv.github.io/portfolio/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
            <li class="link"><a href="https://github.com/kccrtv/portfolio" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>Newsletter Signup with MailChimp API</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Bootstrap</li>
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">HTML</li>
            <li class="tool-dark">JavaScript</li>
            <li class="tool-dark">Node.js</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://fathomless-bayou-18109.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>Weather App with OpenWeather API</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">HTML</li>
            <li class="tool-dark">JavaScript</li>
            <li class="tool-dark">Node.js</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://secure-fjord-16091.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>Simon Says Game</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">HTML</li>
            <li class="tool-dark">JavaScript</li>
            <li class="tool-dark">jQuery</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://kccrtv.github.io/simonsays/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
            <li class="link"><a href="https://github.com/kccrtv/simonsays" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>Random Dice Game</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">HTML</li>
            <li class="tool-dark">JavaScript</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://kccrtv.github.io/randomdice/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
            <li class="link"><a href="https://github.com/kccrtv/randomdice" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>Keyboard Drum Kit</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">HTML</li>
            <li class="tool-dark">JavaScript</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://kccrtv.github.io/drumkit/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
            <li class="link"><a href="https://github.com/kccrtv/drumkit" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>tindog Dating Website</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Bootstrap</li>
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">HTML</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://kccrtv.github.io/tindog/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
            <li class="link"><a href="https://github.com/kccrtv/tindog" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2020</th>
        <td>Simple CSS CV</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">CSS</li>
            <li class="tool-dark">HTML</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://kccrtv.github.io/css-cv/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
            <li class="link"><a href="https://github.com/kccrtv/css-cv" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2019</th>
        <td>UX Portfolio v3</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Figma</li>
            <li class="tool-dark">Webflow</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="http://kimcinco.webflow.io/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2019</th>
        <td>UX Portfolio v2</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Figma</li>
            <li class="tool-dark">Webflow</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="https://preview.webflow.com/preview/phish-scales?utm_medium=preview_link&utm_source=designer&utm_content=phish-scales&preview=b5605f050133c19fd72f19ca59bd9e33&mode=preview" target="_blank"><i
                  class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </td>
      </tr>

      <!-- *************************************************************** -->

      <tr>
        <th scope="row">2013</th>
        <td>Sugarland Growers, Inc. Website</td>
        <td class="built">
          <ul class="tools-used">
            <li class="tool-dark">Squarespace</li>
          </ul>
        </td>
        <td>
          <ul class="tools-used">
            <li class="link"><a href="http://www.sugarlandgrowers.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </td>
      </tr>

    </tbody>
  </table>

</div>



<!-- Contact Section -->
<div id="cta" class="section-wrapper">
  <h2 class="section-heading">Wanna work together? Drop me a line!</h2>
  <p class="contact-text">I know that every pixel matters which is why I'm excited to hear about your project and how I can help. Whether you want to start from scratch, make subtle improvements, or brainstorm on what your next step looks
    like, get in touch!<br>
    <a class="btn btn-primary" href="mailto:kimcincocreative@gmail.com">Let's Talk!</a>

  </p>
</div>


<!-- Footer -->
<div id="#footer" class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/kimcinco/" target="_blank">LinkedIn</a>
  <a class="footer-link" href="http://kimcinco.webflow.io/" target="_blank">UX Portfolio</a>
  <p class="copyright">© 2020 Kim Cinco</p>
</div>


<!-- JavaScript -->
<script src="index.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<%- include("partials/footer") %>
